body{
    margin: 0;
    padding: 0;

}

/* header start */

header{
    background-color: #121B2A;
    padding: 10px 0;
}

.wrapper{
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}

.logo{
    width: 17%;
    float: left;
}

.logo img{
    width: 100%;
}

.menu{
    width: 70%;
    float: right;
    margin-top: 30px;
}

.menu ul{
    float: right;
}

.menu ul li{
    list-style: none;
    float: left;
}
.menu ul li a{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 25px;
    display: inline-block;
    transition: .3s;
}

.menu ul li a:hover{
    color: #00788D;
}

.menu ul li:last-child a{
    padding-right: 0;

}
/* header end */
/* banner start*/

.banner{
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;       /* repeat if img small thn defined */
    background-size: cover;             /* stretch img rght-lft full width */
    -webkit-background-size: cover;     /* browser support css- chrom ++*/
    -moz-background-size: cover;        /* browser support css- mozilla*/
    background-position: center;        /* focus img ; top right etc.*/
    }

.banner_content{
    width: 40%;
    margin-top: 15%;
    margin-bottom: 10%;
    padding: 35px 45px;
    border-radius: 5px;
}

.banner_content h1{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: white;
    text-transform: capitalize;
    margin: 0;
}
.banner_content h2{
    font-family: sans-serif;
    font-size: 38px;
    color: #0076BE;
    text-transform: capitalize;
    margin: 0;
}

.banner_content p{
    width: 70%;
    font-family: sans-serif;
    color: white;
    margin: 5px 0;
    line-height: 25px;

   
}
.banner_content button{
    width: 200px;
    height: 40px;
    margin-top: 22px;
    font-family: sans-serif;
    font-size: 20px;
    background-color: white;
    text-transform: uppercase;
    color: #5A5A5A;
    border: 0;
    border-radius: 4px;
    transition: .3s;
}

.banner_content button:focus{
    outline: 0;
}
.banner_content button:hover{
    color: #0377BD;
}

/* banner end */

/* Address start*/

.last{
    width: 100%;
    background-color: black;
}

.last wrapper{
    width: 80%;    
}

.address{
    width: 25%;
    color: #AEADB3;
    float: left;
    margin-left: 30px;
    padding-left: 20px;
}

.address h2{
    color: #AEADB3;
    font-weight: 400;
    padding: 17px 15px 0px 15px;
    margin: 15px 10px 0px 15px;
    
}

.address p{
    color: #AEADB3;
    font-weight: 400;
    padding: 0 10px;
    
}

.testimonial{
    width: 26%;
    color: #AEADB3;
    float: left;
    margin-left: 20px;
    padding-left: 20px;
}

.testimonial h2{
    color: #AEADB3;
    font-weight: 400;
    padding: 17px 15px 0px 15px;
    margin: 15px 10px 0px 15px;
}
.tt_t{
    color: #0178BC;
}

.testimonial p{
    color: #AEADB3;
    line-height: 1.5;
    padding: 15px;
}

/* shape 

#talkbubble {
    width: 120px;
    height: 80px;
    background: red;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    }
#talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid red;
    border-bottom: 13px solid transparent;
}

*/


.mobile{
    width: 10%;
    float: left;
    margin-left: 30px 0 30px 30px;
    padding: 25px 15px 0px 50px;
}

.appstore{
    width: 15%;
    float: left;
    margin-left: 25px 0 0 10px;
}

.appstore h2{
    font-weight: 700;
    font-size: 20px;
    color: #AEADB3;
    margin-top: 30px;
}

.appstore h3{
    color: #0178BC;
    line-height: 0;
    font-weight: 700;
    font-size: 25px;
}

.appstore img{
    padding:0;
    margin:0;
}




/* Address end*/



/* Footer start*/

footer{
    background-color: #121B2C;
    min-height: 120px;
    overflow: hidden;
}


footer wrapper{
    width: 70%;
}

.box1{
    width: 60%;
    float: left;
    margin-top: 20px;
}
.box2{
    width: 30%;
    float: right;
    margin-top: 20px;
}

.footer_links{
    font-family: sans-serif;
    color: white;
    overflow: hidden;
}
.footer_links ul{
    float: left;
}
.footer_links ul li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 0px 30px;
    border-right: 1px solid white;
}

.footer_links ul li:last-child{
    border-right: 10px;
}

.footer_links p{
    color: white;

}
.footer_logos{
    display: inline-block;
    overflow: hidden;
}
.footer_logos img{
    width: 0 auto;
    float: left;
}

.copyright{
    font-family: sans-serif;
    margin-bottom: 30px;
}
.copyright p{
    color: white;
    font-family: sans-serif;
    display: inline-block;
    padding-left: 67px;
    margin-top: 0px;
}
/* Footer end*/
